<style>
    .custom-modal-size {
        max-width: 90%;
        width: 90%;
    }
</style>
<!-- Modal Update -->
<div class="modal fade" id="updateSubjectModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="updateSubjectModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered custom-modal-size">
        <!-- Thêm custom class -->
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Thêm giáo viên bộ môn cho lớp học</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="row p-4" id="button_addHR">
                <div class="col-md-12 d-flex justify-content-end">
                    <button id="add_subject_class" class="btn btn-dark">Thêm giáo viên bộ môn</button>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-md-12">
                    <label for="subject_selected">Lựa chọn môn học cho giáo viên trong lớp</label>
                    <select id="subject_selected" class="form-control">
                        <option value="0" selected> ===== Lựa chọn môn học =====</option>
                    </select>
                </div>
            </div>
            <div class="row p-3">
                <div class="col-12">
                    <table id="teacher_subject_table" class="table table-striped table-hover" style="width: 100%;">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Id</th>
                                <th>Họ và tên</th>
                                <th>Mã người dùng</th>
                                <th>Môn dạy</th>
                                <th>Ảnh</th>
                                <th>Trạng thái</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>