@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Lớp đang giảng dạy";
}
<style>
    .card {
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
    }
</style>
<div id="classInfoDiv"></div>
<script src="~/js/ClassOnBoard/ClassOnBoard.js"></script>
<script>
    var classInfo = @Html.Raw(ViewBag.ClassInfoJson); // Lấy dữ liệu từ ViewBag
    console.log(classInfo);
    GetClassOnBoard(classInfo)
</script>