@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quản lý môn học";
}
<style>
    #subject_table thead th {
        text-align: center;
        vertical-align: middle;
    }
</style>
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-11">Bảng hiển thị nội dung</div>
           
        </div>
    </div>
    <div class="card-body">
        <table id="classdetail_table" class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Môn học</th>
                    <th>Mô tả</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
    <script src="~/js/ClassDetail/ClassDetail.js"></script>
<script>
    $(document).ready(function () {
        setupGrid();
    });
</script>