@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
    ViewBag.Title = "Đăng nhập";
}

<link src="~/js/Account/login.css" />

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="text-white">
                   @* card bg-dark*@
                    <div class="card-body p-5 text-center">

                        <div class="mb-md-5 mt-md-4 pb-5">

                            <h2 class="fw-bold mb-2 text-uppercase">Login</h2>
                            <p style="font-weight:700" class="text-white-50 mb-5">Please enter your login and password!</p>

                            <div class="form-outline form-white mb-4">
                                <input type="text" id="user_code" class="form-control form-control-lg" placeholder="Mã người dùng" required />
                            </div>

                            <div class="form-outline form-white mb-4">
                                <input type="password" id="password" class="form-control form-control-lg" placeholder="Mật khẩu" required />
                            </div>

                            <p style="font-weight:700" class="small mb-5 pb-lg-2"><a href="#" class="text-white-50">Forgot password?</a></p>

                            <button class="btn btn-outline-light btn-lg px-5" type="submit" id="submit">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div id="loading-spinner" class="spinner"></div>
<script src="~/js/Account/Login.js"></script>
<script>
    $(document).ready(function () {
        $("#submit").on("click", function () {
            let code = $("#user_code").val();
            let password = $("#password").val();
            let request = {
                UserCode: code,
                Password: password
            };
            console.log(request);
            showLoadingSpinner(); // Hiển thị spinner khi bắt đầu gửi yêu cầu đăng nhập
            Login(request);
        });

        $(document).on("keydown", function (event) {
            if (event.keyCode === 13) {
                event.preventDefault();
                $("#submit").click();
            }
        });

        function showLoadingSpinner() {
            $("#loading-spinner").show(); // Hiển thị spinner
            $("#submit").prop("disabled", true); // Vô hiệu hóa nút submit trong khi spinner đang hiển thị
        }

        function hideLoadingSpinner() {
            $("#loading-spinner").hide(); // Ẩn spinner sau khi yêu cầu đăng nhập đã xử lý xong
            $("#submit").prop("disabled", false); // Bật lại nút submit
        }
    });

</script>
