<script>
    if (!sessionStorage.getItem('Token')) {
        window.location.href = "/Account/Login";
    }
</script>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FE.ManagerPoint</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FE.ManagerPoint.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <div class="home-page">
        <partial name="_Sidebar"></partial>
        <div class="home-section">
            <partial name="_Navbar"></partial>
            <div class="main-content">
                <div class="main-body">
                    @RenderBody()
                    <p>Xin chào : Duy đẹp trai !</p>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/home.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
