<div class="home-content">
    <i class="fas fa-bars"></i>
    <div class="menu-infor">
        <div class="bell">
            <i class="fa-solid fa-bell" style="font-size: 20px;"></i>
            <a href="#">
                Thông báo
            </a>
            <i class="fa-solid fa-exclamation"></i>
        </div>
        <div class="user" id="user">
            <i class="fa-solid fa-user" style="font-size: 20px;"></i>
            <a href="#">
                Xin chào : ???
            </a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        // Lấy giá trị fullname từ session và thay thế vào chỗ "Xin chào: ???"
        var fullname = sessionStorage.getItem("FullName");
        if (fullname) {
            $("#user a").text("Xin chào: " + fullname);
        }
    });
</script>