<div id='sidebar' class="sidebar">
    <ul class="nav-list">
        <li>
            <div class="icon-link">
                <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                    <i class="fa-solid fa-chart-simple"></i>
                    <span class="link-name">Thống kê</span>
                </a>
                <i class="fas fa-caret-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link-name">Thống kê</a></li>
                <li>
                    <a id="static_teacher" class="static_teacher" href="/User/Analystic_User">
                        Thống kê tổng số giáo viên và học sinh
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                    <i class="fa-solid fa-file-pen"></i>
                    <span class="link-name">Bảng điểm</span>
                </a>
                <!-- <i class="fas fa-caret-down arrow"></i> -->
            </div>

            <ul class="sub-menu">
                <!-- <li><a href="" class="link-name">Quản đơn hàng</a></li> -->
                <li>
                    <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                        Bảng
                        điểm
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                    <i class="fa-solid fa-chalkboard-user"></i>
                    <span class="link-name">Lớp chủ nhiệm</span>
                </a>
                <!-- <i class="fas fa-caret-down arrow"></i> -->
            </div>

            <ul class="sub-menu">
                <!-- <li><a href="" class="link-name">Quản đơn hàng</a></li> -->
                <li>
                    <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                        Lớp
                        chủ
                        nhiệm
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                    <i class="fa-solid fa-person-chalkboard"></i>
                    <span class="link-name">Lớp giảng dạy</span>
                </a>
                <!-- <i class="fas fa-caret-down arrow"></i> -->
            </div>

            <ul class="sub-menu">
                <!-- <li><a href="" class="link-name">Quản đơn hàng</a></li> -->
                <li>
                    <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                        Lớp
                        giảng
                        dạy
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                    <i class="fa-solid fa-heart"></i>
                    <span class="link-name">Khen thưởng / kỉ luật</span>
                </a>
                <!-- <i class="fas fa-caret-down arrow"></i> -->
            </div>
            <ul class="sub-menu">
                <li>
                    <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                        Khen
                        thưởng / kỉ luật
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a id="user" href="/User/Index">
                    <i class="fa-solid fa-user-group"></i>
                    <span class="link-name">Quản lý người dùng</span>
                </a>
                <i class="fas fa-caret-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link-name">Quản lý người dùng</a></li>
                <li>
                    <a id="role" class="role" href="/Role/Index">
                        Quản lý quyền
                    </a>
                    <a id="user" class="user" href="/User/Index">
                        Danh sách người dùng
                    </a>
                    <a id="user_role" class="user_role" href="/User/User_Role">
                        Phân quyền cho người dùng
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                    <!-- <i class="fa-solid fa-graduation-cap"></i> -->

                    <i class="fa-solid fa-users"></i>
                    <span class="link-name">Quản lí lớp học</span>
                </a>
                <i class="fas fa-caret-down arrow"></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link-name">Quản lý giáo viên / học sinh </a></li>
                <li>
                    <a href="/Class/Index">
                        Danh sách lớp học
                    </a>
                </li>
                <li>
                    <a href="/Class/Student_Class">
                        Gán lớp cho học sinh
                    </a>
                </li>
                <li>
                    <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                        Gán giáo
                        viên cho lớp
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a id="course" class="course" href="/Course/Index">
                    <i class="fa-solid fa-school"></i>
                    <span class="link-name">Quản lí kỳ học</span>
                </a>
                <i class="fas fa-caret-down arrow"></i>
            </div>

            <ul class="sub-menu">
                <li><a class="link-name">Quản lí kỳ học</a></li>
                <li>
                    <a id="course" class="course" href="/Course/Index">Danh sách kỳ học</a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a id="subject" class="subject" href="/Subject/Index">
                    <i class="fa-solid fa-book-open"></i>
                    <span class="link-name">Quản lý môn học</span>
                </a>
                <i class="fas fa-caret-down arrow"></i>
            </div>

            <ul class="sub-menu">
                <li><a class="link-name">Quản lý môn học</a></li>
                <li>
                    <a id="subject" class="subject" href="/Subject/Index">
                        Danh sách môn học
                    </a>
                    <a id="subject_user" class="subject_user" href="/Subject/Subject_User">
                        Phân công môn học cho giáo viên
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                    <i class="fa-solid fa-headset"></i>
                    <span class="link-name">Hỗ trợ</span>
                </a>
            </div>

            <ul class="sub-menu">

                <li>
                    <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                        Hỗ
                        trợ
                    </a>
                </li>

            </ul>
        </li>
        <li>
            <div class="icon-link">
                <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span class="link-name">Đăng xuất</span>
                </a>
            </div>

            <ul class="sub-menu">

                <li>
                    <a asp-area="MyArea" asp-controller="MyController" asp-action="MyAction">
                        Đăng
                        xuất
                    </a>
                </li>

            </ul>
        </li>

    </ul>
</div>
