<!-- Modal Create -->
<div class="modal fade" id="createModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="createModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Tạo quyền mới</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="role_create_form" class="needs-validation" novalidate>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="role_name" class="form-label">Tên quyền</label>
                        </div>
                        <div class="col-md-10">
                            <input id="role_name" class="form-control" type="text" required />
                            <div class="invalid-feedback">
                                Xin hãy nhập tên của quyền!
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label for="description" class="form-label">Mã quyền</label>
                        </div>
                        <div class="col-md-10">
                            <input id="role_code" class="form-control" type="text" required></input>
                            <div class="invalid-feedback">
                                Xin hãy nhập mã quyền cho quyền!
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-2">
                            <label for="description" class="form-label">Mô tả</label>
                        </div>
                        <div class="col-md-10">
                            <textarea id="description" class="form-control" rows="5" required></textarea>
                            <div class="invalid-feedback">
                                Xin hãy nhập mô tả cho quyền!
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="save" type="submit" class="btn btn-primary">Lưu</button>
                    <button id="un_save" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#un_save[data-bs-dismiss="modal"]').on('click', function () {
            $('#role_create_form').trigger('reset');
            if ($('#role_create_form').hasClass('was-validated')) {
                $('#role_create_form').removeClass('was-validated');
            }
        });
    });
</script>