@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Quản lý khóa học";
}

<div class="card">
	<div class="card-header">
		<div class="row">
			<div class="col-md-11">Bảng hiển thị nội dung</div>
			<div class="col-md-1">
				<button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createModal">Thêm mới</button>
			</div>
		</div>
	</div>
	<div class="card-body">
		<table id="course_table" class="table table-striped table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Khóa học</th>
					<th>Ngày bắt đầu</th>
					<th>Ngày kết thúc ( dự kiến )</th>
					<th>Mô tả</th>
					<th>Trạng thái</th>
					<th>Thao tác</th>
				</tr>
			</thead>
		</table>
	</div>
</div>
<partial name="Create" />
<partial name="Update" />
<script src="~/js/Course/Course.js"></script>
<script>
	
	$(document).ready(function () {
		setupGrid()
		$('#course_create_form').on('submit', function (event) {
			var form = $(this);
			if (!form[0].checkValidity()) {
				event.preventDefault();
				event.stopPropagation();
			} else {
				let course_name = $("#course_name").val();
				let course_dateStart = $("#dateStart").val();
				let course_endStart = $("#dateEnd").val();
				let course_description = $("#course_description").val();
				let status_list = $("#status_list").val();
				let object = {
					Name: course_name,
					StartTime : course_dateStart,
					EndTime : course_endStart,
					Description : course_description,
					Status : parseInt(status_list),
				};
				event.preventDefault();
				createCourse(object, function () {
					$("#course_name").val("");
					$("#dateStart").val("");
					$("#dateEnd").val("");
					$("#course_description").val("");
					$("#status_list").val("");
					toastr.success('Tạo khóa học thành công');
					$('#createModal').modal('hide');
					form.removeClass('was-validated');
				});
			}
			form.addClass('was-validated');
		});
		$('#course_update_form').on('submit', function (event) {
			var form = $(this);
			if (!form[0].checkValidity()) {
				event.preventDefault();
				event.stopPropagation();
			} else {
				let id = $("#course_id").val();
				let course_name = $("#course_name_md").val();
				let course_dateStart = $("#dateStart_md").val();
				let course_endStart = $("#dateEnd_md").val();
				let course_description = $("#course_description_md").val();
				let status_list = $("#status_list_md").val();
				let object = {
					Name: course_name,
					StartTime: course_dateStart,
					EndTime: course_endStart,
					Description: course_description,
					Status: parseInt(status_list),
				};
				event.preventDefault();
				updateSub(id, object, function () {
					toastr.success('Cập nhật khóa học thành công');
					form.removeClass('was-validated');
					$('#updateModal').modal('hide');
				});
			}
			form.addClass('was-validated');
		});
	});

</script>