<div class="home-content">
    <i class="fas fa-bars"></i>
    <div class="menu-infor">
        <div class="bell">
            <i class="fa-solid fa-bell" style="font-size: 20px;"></i>
            <a>
                Thông báo
            </a>
            <i class="fa-solid fa-exclamation"></i>
        </div>
        <div class="user">
            <i class="fa-solid fa-user" style="font-size: 20px;"></i>
            <a>
                Xin chào : ???
            </a>
        </div>
    </div>
</div>