@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Thống kê giáo viên";
}
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="chart_teacher_student"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="chart_all_rank_student"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <div id="chart_all_rank_student_year"></div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div id="chart_student_year"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div id="chart_student_course"></div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-3">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div id="chart_student_classes"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div id="chart_teacher_subject"></div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/User/Analystic_User.js"></script>
<script>
    $(document).ready(function () {
        count_teacher_subject();
        count_student_teacher();
        count_student_course();
        count_student_year();
        count_student_class();
        count_all_rank_student();
        count_student_rank_year();
    });
</script>
