@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Quản lý người dùng";
}
<style>
    #student_table thead th {
        text-align: center;
        vertical-align: middle;
    }

    #student_table tbody tr td {
        text-align: center;
        vertical-align: middle;
    }

    #teacher_table thead th {
        text-align: center;
        vertical-align: middle;
    }

    #teacher_table tbody tr td {
        text-align: center;
        vertical-align: middle;
    }

    #user_table thead th {
        text-align: center;
        vertical-align: middle;
    }

    #user_table tbody tr td {
        text-align: center;
        vertical-align: middle;
    }

    .img_td {
        width: 150px;
    }

        .img_td img {
            width: 100%;
            height: auto;
        }
</style>
<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link" id="nav-teacher-tab" data-bs-toggle="tab" data-bs-target="#nav-teacher" type="button" role="tab" aria-controls="nav-teacher" aria-selected="false">Giáo viên</button>
        <button class="nav-link" id="nav-student-tab" data-bs-toggle="tab" data-bs-target="#nav-student" type="button" role="tab" aria-controls="nav-student" aria-selected="false">Học sinh</button>
        <button class="nav-link active" id="nav-user-tab" data-bs-toggle="tab" data-bs-target="#nav-user" type="button" role="tab" aria-controls="nav-user" aria-selected="true">Người dùng chưa phân quyền</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade" id="nav-teacher" role="tabpanel" aria-labelledby="nav-teacher-tab">
        <div class="row mt-3">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="search_subject">Tìm kiếm theo môn học</label>
                    <select id="search_subject" class="form-control">
                        <option value="0" selected>---Lựa chọn môn học---</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <label for="search_class">Tìm kiếm theo lớp học</label>
                <select id="search_class" class="form-control">
                    <option value="0" selected>---Lựa chọn lớp học---</option>
                </select>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-11">Bảng hiển thị giáo viên</div>
                </div>
            </div>
            <div class="card-body">
                <table id="teacher_table" class="table table-striped table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Họ và tên</th>
                            <th>Mã giáo viên</th>
                            <th>Lớp dạy</th>
                            <th>Môn dạy</th>
                            <th>Mật khẩu</th>
                            <th>Số điện thoại</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Email</th>
                            <th>Ảnh</th>
                            <th>Địa chỉ</th>
                            <th>Quốc tịch</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="nav-student" role="tabpanel" aria-labelledby="nav-student-tab">
        <div class="row mt-3">
            <div class="col-md-6">
                <label for="search_class">Tìm kiếm theo lớp học</label>
                <select id="search_class_student" class="form-control">
                    <option value="0" selected>---Lựa chọn lớp học---</option>
                </select>
            </div>
        </div>
        <div class="card mt-5">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-11">Bảng hiển thị học sinh</div>
                </div>
            </div>
            <div class="card-body">
                <table id="student_table" class="table table-striped table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Họ và tên</th>
                            <th>Mã học sinh</th>
                            <th>Lớp học</th>
                            <th>Mật khẩu</th>
                            <th>Số điện thoại</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Email</th>
                            <th>Ảnh</th>
                            <th>Địa chỉ</th>
                            <th>Quốc tịch</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
    <div class="tab-pane fade show active" id="nav-user" role="tabpanel" aria-labelledby="nav-user-tab">
        <div class="card mt-5">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-10">Bảng hiển thị người dùng chưa phân quyền</div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#excelModal">Excel Import</button>
                        <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#createModal">Thêm mới</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="user_table" class="table table-striped table-hover" style="width: 100%;">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Họ và tên</th>
                            <th>Mã người dùng</th>
                            <th>Mật khẩu</th>
                            <th>Số điện thoại</th>
                            <th>Ngày sinh</th>
                            <th>Giới tính</th>
                            <th>Email</th>
                            <th>Ảnh</th>
                            <th>Địa chỉ</th>
                            <th>Quốc tịch</th>
                            <th>Trạng thái</th>
                            <th>Thao tác</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<partial name="Create" />
<partial name="Update" />
<partial name="ExcelImport" />
<script src="~/js/User/User.js"></script>
<script>
    $(document).ready(function () {
        getSubject();
        $("#search_subject").select2({ width: '100%' });
        getClass();
        $("#search_class").select2({ width: '100%' });
        getStudentClass();
        $("#search_class_student").select2({ width: '100%' });
        userNoRoleGrid();
        $("#search_subject").change(function () {
            $('#teacher_table').DataTable().ajax.reload();
        });
        $("#search_class").change(function () {
            $('#teacher_table').DataTable().ajax.reload();
        });
        $("#search_class_student").change(function () {
            $('#student_table').DataTable().ajax.reload();
        });
        $('#user_excel_import').on('submit', function (event) {
            var form = $(this);
            if (!form[0].checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                event.preventDefault();
                Import_Excel(function () {
                    toastr.success('Thêm người dùng từ excel thành công');
                    let = $('#excelModal').modal('hide');
                    form.removeClass('was-validated');
                });
            }
            form.addClass('was-validated');
        })
        $('#user_create_form').on('submit', function (event) {
            var form = $(this);
            if (!form[0].checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                var formData = {};
                $('#user_create_form').find('input, select, textarea').each(function (index, element) {
                    var fieldId = $(element).attr('id');
                    var fieldType = $(element).attr('type');
                    var fieldValue;
                    if (fieldType === 'file') {
                        return;
                    }
                    if ($(element).is('select') && $(element).attr('id') === 'gender') {
                        fieldValue = parseInt($(element).val());
                    } else {
                        fieldValue = $(element).val();
                    }

                    formData[fieldId] = fieldValue;
                });
                console.log(formData);
                event.preventDefault();
                createUser(formData, function () {
                    $('#user_create_form').trigger('reset');
                    toastr.success('Tạo môn học thành công');
                    $('#createModal').modal('hide');
                    form.removeClass('was-validated');
                });
            }
            form.addClass('was-validated');
        });
        $('#user_update_form').on('submit', function (event) {
            var form = $(this);
            if (!form[0].checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            } else {
                let id = $("#id").val();
                let user_Code = $("#user_Code_md").val();
                let name = $("#name_md").val();
                let gender = parseInt($("#gender_md").val());
                let nation = $("#nation_md").val();
                let address = $("#address_md").val();
                let email = $("#email_md").val();
                let phoneNumber = $("#phone_md").val();
                let description = $("#description_md").val();
                let imageUrl = $("#avatar_md").val();
                let DOB = $("#DOB_md").val();
                let object = {
                    AvatarUrl: imageUrl,
                    Name: name,
                    Gender: gender,
                    DOB: DOB,
                    Nation: nation,
                    Address: address,
                    Email: email,
                    PhoneNumber: phoneNumber,
                    Description: description,
                    Status: 1
                }
                event.preventDefault();
                updateUser(id, object, function () {
                    toastr.success('Cập nhật người dùng thành công');
                    let = $('#updateModal').modal('hide');
                    form.removeClass('was-validated');
                });
            }
            form.addClass('was-validated');
        });
    });
</script>